$fontSize: 16;
$colorPrimary: #2E58A6;
$colorFillSecondary: #AC8E68;
$colorFillTertiary: #F7D704;
$colorInfo: #538FFF;
$colorSuccess: #52C41A;
$colorWarning: #F1951A;
$colorError: #FF4D4F;
$colorText: #3E3F51;
$colorLink: #2E58A6;
$colorBgBase: #FAFBFC;
$colorBgBlur: #F5F7FA;
$colorBgTextActive: #E6F7FF;
$colorBgTextHover: #EDF9E8;
$colorInfoBg: #F5F7FA;
$colorErrorBg: #FFF1F0;
$colorBorderBg: #E6F7FF;
$colorPrimaryBg: #EDF9E8;
$colorSuccessBg: #EDF9E8;
$colorWarningBg: #FFF7E6;
$colorWarningBorderHover: #FFF1F0;
$colorBorder: #F0F0F0;
$colorTextDisabled: #F0E8DE;

@function px2rem($px) {
  @return ($px / 20) * 1rem;
}
